<div class= "main">
	<div class="item item--1">1: Orange</div>
	<div class="item item--2">
    <div class="item item--2-1">
    <div class="item"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
	  <div class="item">4: Pink<i class="fa fa-solid fa-arrows-rotate"></i></div>
	  <div class="item">5: Blue</div>
	  <div class="item">6: Brown</div>
    <div class="item">7: Brown</div>
    </div>
  </div>
	<div class="item item--3">3: Violet</div>
	<div class="item item--4">4: Pink</div>
	<div class="item item--5">5: Blue</div>
	<div class="item item--6">6: Brown</div>
  <div class="item item--7">7: Brown</div>
  <div class="item item--8">8: Brown</div>
  <div class="item item--9">
    <h2>Choose the best plan for you</h2>
    <div class="plan-board">
      <div class="box-price"><b>$0</b></div>
      <div class="box-price"><b>$3.99</b></div>
      <div class="box-price"><b>$2.99</b></div>
      <div class="box"><h4>Free</h4></div>
      <div class="box"><h4>Per month</h4></div>
      <div class="box"><h4>Per year</h4></div>
      <div class="box"><h6>(For 30 days)</h6></div>
      <div class="box"><h6>(Monthly Billing)</h6></div>
      <div class="box"><h6>(Yearly Billing)</h6></div>
    </div>
  </div>
  <div class="item item--10">10: Brown</div>
  <div class="item item--11">11: Brown</div>
</div>
