<div class= "main">
	<div class="item item--1">
    <div class="item item--1-2">
      <div class="item item--1-2-1">
         <h1>Automate self-development</h1>
         <p class="punchline">Evolve daily by effeciently managing your time, thoughts, tasks and routines in a simple app</p>
         <div class="send-msg-btn">
          <button type="submit" class="btn btn-primary "><i class="fa fa-solid fa-play p-2"></i>Watch video</button>
        </div>
        <div class="store-logos p-4">
          <img src="assets/ios-logo.png" alt="" class="desk-pro">
          <img src="assets/google-play.png" alt="" class="desk-pro">

          <img src="assets/Groupipad-pro-appstore.png" alt="" class="ipad-pro">
          <img src="assets/Groupipad-pro-googleplay.png" alt="" class="ipad-pro">
        </div>
      </div>
      <div class="banner">
        <img src="assets/banner.png" alt="">
      </div>
      <div class="slide-dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot dot-selected"></span>
      </div>
    </div>
  </div>
	<div class="item item--2">
    <div class="item item--2-1">
      <div class="header">One App To Rule Them All</div>
      <div class="images">
        <div class="img-label">
          <div class="p-2">
            <img src="assets/rule-icons/calender-check.png" alt="" class="desk-icons">
            <img src="assets/rule-icons/Ipad pro/to-do-list (2) 1 (Traced)ipad-pro-todo.png" alt="" class="ipad-icons">
            <img src="assets/rule-icons/Grouptodo-list-mobile.png" alt="" class="mobile-icons">
          </div>
          <h6>To-Do List</h6>
        </div>

        <div class="img-label">
          <div class="p-2">
            <img src="assets/rule-icons/habbit-icon.png" alt="" class="desk-icons">
            <img src="assets/rule-icons/Ipad pro/Vectorhabbit-ipad.png" alt="" class="ipad-icons">
            <img src="assets/rule-icons/Grouphabit-mobile.png" alt="" class="mobile-icons">

          </div>
          <h6>Habit Tracker</h6>
        </div>
        <div class="img-label">
          <div class="p-2">
            <img src="assets/rule-icons/journaling-icon.png" alt="" class="desk-icons">
            <img src="assets/rule-icons/Ipad pro/Vectorjournal-ipad.png" alt="" class="ipad-icons">
            <img src="assets/rule-icons/Groupjournal-mobile.png" alt="" class="mobile-icons">
          </div>

          <h6>Journaling</h6>
        </div>
        <div class="img-label">
          <div class="p-2">
            <img src="assets/rule-icons/notes-icon.png" alt="" class="desk-icons">
            <img src="assets/rule-icons/Ipad pro/google-docs 1 (Traced)notes-ipad.png" alt="" class="ipad-icons">
            <img src="assets/rule-icons/Groupnotes-mobile.png" alt="" class="mobile-icons">
          </div>
          <h6>Notes</h6>
        </div>
        <div class="img-label">
            <div class="p-2">
              <img src="assets/rule-icons/lists-icon.png" alt="" class="desk-icons">
              <img src="assets/rule-icons/Ipad pro/list (1) 1 (Traced)list-ipad.png" alt="" class="ipad-icons">
            <img src="assets/rule-icons/Grouplists-mobile.png" alt="" class="mobile-icons">

            </div>
          <h6>Lists</h6>
        </div>
      </div>
   </div>
  </div>
	<div class="item item--3">
    <div class="mobile-view">
      <img src="assets/mobile-view.png" alt="">
    </div>
    <div class="item item--3-1">
      Customize the way you like
      <div class="toggle">
        <div>
          <i class="fa fa-solid fa-toggle-on toggle-icon"></i>
            <h5>
              Turn Off-On the features
            </h5>
        </div>
        <div>
          <i class="fa fa-solid fa-caret-down fa-rotate-180 toggle-icon"></i>
        </div>
        <div>
          <h6 class="p-2 text-muted">
          Mevolve was developed to help you reach your goals and be more consistent.
        </h6>
      </div>
      </div>
      <div class="toggle">
        <div>
          <i class="fa fa-solid fa-sun"></i>
            <h5 class="default">
             Light and Dark Mode
            </h5>
        </div>
        <div>
          <i class="fa fa-solid fa-caret-down caret-down"></i>
        </div>
      </div>
      <div class="toggle">
        <div>
          <i class="fa fa-regular fa-palette"></i>
            <h5 class="default">
              Multi-theme Colors
            </h5>
        </div>
        <div>
          <i class="fa fa-solid fa-caret-down caret-down"></i>
        </div>
      </div>
    </div>
  </div>
	<div class="item item--3">
    <div class="item item--3-1 item-4">
      Customize the way you like
      <div class="toggle">
        <div>
          <i class="fa fa-solid fa-toggle-on toggle-icon"></i>
            <h5>
              Turn Off-On the features
            </h5>
        </div>
        <div>
          <i class="fa fa-solid fa-caret-down fa-rotate-180 toggle-icon"></i>
        </div>
        <div>
          <h6 class="p-2 text-muted">
          Mevolve was developed to help you reach your goals and be more consistent.
        </h6>
      </div>
      </div>
      <div class="toggle">
        <div>
          <i class="fa fa-solid fa-sun "></i>
            <h5 class="default">
             Light and Dark Mode
            </h5>
        </div>
        <div>
          <i class="fa fa-solid fa-caret-down caret-down"></i>
        </div>
      </div>
      <div class="toggle">
        <div>
          <i class="fa fa-regular fa-palette"></i>
            <h5 class="default">
              Multi-theme Colors
            </h5>
        </div>
        <div>
          <i class="fa fa-solid fa-caret-down caret-down"></i>
        </div>
      </div>
    </div>
    <div class="mobile-view">
      <img src="assets/mobile-view-2.png" alt="">
    </div>
  </div>
  <div class="item item--3">

    <div class="office-card">
      <div class="office-card-1">
        <h5 class="p-2">How was your office day ?</h5>
          <h6 class="m-2">Interview with Alex</h6>
          <input type="text"class="intr-alex">
          <div>
          </div>
          <div>
            <img src="assets/hangout-1.png" alt="">
            <img src="assets/party.png" alt="">
            <img src="assets/party-2.png" alt="">
          </div>
          <div class="mood-footer">
            <div class="mood-footer-1">
              <img src="assets/mood-1.png" class="img-sad" alt="">
              <div>
                <i class="fa fa-solid fa-camera"></i>
                <i class="fa fa-plus plus"></i>
              </div>
            </div>
            <div class="calender">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <p class="p-2">Today</p>
            </div>
         </div>
      </div>
      <div class="office-card-2">
        <div>
          <h6>What is your mood?</h6>
        </div>
        <div class="emojis p-2">
          <img src="assets/mood-1.png" class="refr-2" alt="">
          <img src="assets/mood-2.png" alt="">
          <img src="assets/mood-3.png" alt="">
          <img src="assets/mood-4.png" alt="">
          <img src="assets/mood-5.png" alt="">
        </div>
        <div class="btn-class">
          <i class="fa fa-refresh refr" aria-hidden="true"></i>
          <button class="w-25" class="cancel">Cancel</button>
          <button class="w-25">Done</button>
        </div>
      </div>
    </div>
    <div class="item item--3-1">
      Customize the way you like
      <div class="toggle">
        <div>
          <i class="fa fa-solid fa-toggle-on toggle-icon"></i>
            <h5>
              Turn Off-On the features
            </h5>
        </div>
        <div>
          <i class="fa fa-solid fa-caret-down fa-rotate-180 toggle-icon"></i>
        </div>
        <div>
          <h6 class="p-2 text-muted">
          Mevolve was developed to help you reach your goals and be more consistent.
        </h6>
      </div>
      </div>
      <div class="toggle">
        <div>
          <i class="fa fa-solid fa-sun"></i>
            <h5 class="default">
             Light and Dark Mode
            </h5>
        </div>
        <div>
          <i class="fa fa-solid fa-caret-down "></i>
        </div>
      </div>
      <div class="toggle">
        <div>
          <i class="fa fa-regular fa-palette"></i>
            <h5 class="default">
              Multi-theme Colors
            </h5>
        </div>
        <div>
          <i class="fa fa-solid fa-caret-down "></i>
        </div>
      </div>
    </div>
  </div>
	<div class="item item--6">
    <div class="item item--6-1">
      <p>Set passcode</p>
      <div class="passcode-input">
        <input type="password" value="*">
        <input type="password" value="*">
        <input type="password" value="*">
        <input type="password" value="*">

      </div>
      <div class="set-passcode p-1">
        <button>Set passcode</button>
      </div>
    </div>
    <div class="customize">
      Customize the way you like
      <ul>
        <li>Turn Off-On the features that you want to use</li>
        <li>Light and Dark Theme</li>
        <li>Multi-theme colors</li>
      </ul>
    </div>
  </div>
  <div class="item item--7">
    <div class="customize">
      Customize the way you like
      <ul>
        <li>Turn Off-On the features that you want to use</li>
        <li>Light and Dark Theme</li>
        <li>Multi-theme colors</li>
      </ul>
  </div>
  <div><img src="assets/customize.png" alt=""></div>
  </div>
  <div class="item item--8">
    <div class="item item--8-1">
      <img src="assets/video-thumbnail.png" alt="" >
    </div>
    <h6 class="item item--8-2">Watch Mevole demo video to understand the application.</h6>
  </div>
  <div class="item item--9">
    <h2>Choose the best plan for you</h2>
    <div class="plan-board">
      <div class="box-price"><b>$0</b></div>
      <div class="box-price"><b>$3.99</b></div>
      <div class="box-price"><b>$2.99</b></div>
      <div class="box"><h4>Free</h4></div>
      <div class="box"><h4>Per month</h4></div>
      <div class="box"><h4>Per year</h4></div>
      <div class="box"><h6>(For 30 days)</h6></div>
      <div class="box"><h6>(Monthly Billing)</h6></div>
      <div class="box"><h6>(Yearly Billing)</h6></div>
    </div>
  </div>
  <div class="item item--10">
    <h2>What we offer</h2>
    <ul class="item item--10-list">
      <div>
        <img src="assets/what-we-offer-icons/Vectorplus.png" alt="SVG image"><li class="no-list-style">Add Todos, Habits, Journals and Notes in a single app.</li>
      </div>
      <div>
        <img src="assets/what-we-offer-icons/Vectorsports.png" alt="SVG image"><li class="no-list-style">Four types of Habit Tracking.</li>
      </div>
      <div>
      <img src="assets/what-we-offer-icons/network.png" alt="SVG image"><li class="no-list-style">Track Todos, Habits, Journals and Notes with daily values.</li>
      </div>
      <div>
        <img src="assets/what-we-offer-icons/Vectorlaugh.png" alt="SVG image"><li class="no-list-style">Update your Mood and Pictures in Journal and Notes section.</li>
      </div>
      <div>
      <img src="assets/what-we-offer-icons/Vectorpaint.png" alt="SVG image"><li class="no-list-style">Customize the app color.</li>
      </div>
      <div>
      <img src="assets/what-we-offer-icons/Vectorbell-on.png" alt="SVG image"><li class="no-list-style"><i class="fas fa-bell-on"></i>Notification and Reminders</li>
      </div>
      <div>
      <img src="assets/what-we-offer-icons/Vectorlockpin.png" alt="SVG image"><li class="no-list-style">Lock Pin</li>
      </div>
    </ul>
  </div>
  <div class="item item--11">
    <div >
      <h4 class="contact-form-header p-4">Get in touch</h4>
      <h6 class="team-msg p-2">Our friendly team would love to hear from you!</h6>
       <div class="contact-form ">
        <form class="p-4">
          <div class="form-group">
            <label for="name">Your Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="e.g Joseph">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="e.g joseph687@gmail.com">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Message</label>
            <input type="text" class="form-control text-area" id="exampleInputPassword1" placeholder="Let tell us about your thoughts on this...">
          </div>
          <div class="send-msg-btn">
            <button type="submit" class="btn btn-primary ">Send Message</button>
          </div>
        </form>
       </div>
    </div>
  </div>
</div>
