/* Navbar styling */
.navbar {
  background-color: rgba(29,161,242,255);
}

a {
  color: #fff !important;
}

ul {
  display: flex;
  gap: 3rem;
  font-size: 1rem;
}
.navbar-brand {
  font-size: 1.5rem;
}

.navbar-toggler {
  border-color: #007bff;
}

/* Active link styling */
.navbar-nav .active > .nav-link {
  color: #007bff;
}

/* Disabled link styling */
.navbar-nav .nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 0.5rem;
  }

  .dropdown-divider {
    display: none;
  }
}
